.feed {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; */
  /* overflow-y: scroll; */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, auto));
  align-items: center;
  justify-content: center;

  grid-column-gap: 8px;
  grid-row-gap: 14px;

  margin-top: 15px;
}

.capsuleCard {
  height: 190px;
  width: 320px;

  border-radius: 25px;

  height: 190px;
  width: 320px;

  border-radius: 25px;

  display: flex;
  flex-direction: column-reverse;

  /* background-image: url("https://source.unsplash.com/random?family"); */
  background-size: cover;
  overflow: hidden;
  transition: transform 0.3s ease;

  position: relative;

  /* display: flex;
  flex-direction: column;

  background-image: url("https://source.unsplash.com/random?family");
  background-size: cover;
  overflow: hidden;
  transition: transform 0.3s ease;

  position: relative; */
}

.capsuleCard::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(35, 34, 34, 0.272); /* Ajustează opacitatea aici */
  z-index: 1; /* Asigură că este în fața imaginii de fundal */
}

.capsuleCard > * {
  position: relative;
  z-index: 2;
}

.cardContent {
  margin-left: 10px;
}

.icon {
  margin-left: 15px;
  margin-top: 15px;

  z-index: 5;
  height: 12px;
  width: 12px;
  /* background-color: #fdfdfd; */
}

.title {
  padding-left: 9px;
  margin-top: 23%;
  margin-bottom: 3px;
  z-index: 2;
  color: #fdfdfd;
}

.description {
  padding-left: 10px;
  margin-top: 0;
  font-size: 12px;
  z-index: 2;
  color: #fdfdfd;
}

.icon {
  margin-left: 15px;
  margin-top: 15px;

  z-index: 2;
  height: 12px;
  width: 12px;
  /* background-color: #fdfdfd; */
}

.capsuleCard:-webkit-any-link {
  text-decoration: none;
  color: #292929;
  cursor: pointer;
}

.capsuleCard:-webkit-any-link {
  text-decoration: none;
  color: #292929;
  cursor: pointer;
}

.capsuleCard:-webkit-any-link:hover {
  cursor: pointer;
  transform: scale(1.02);
} 
.capsuleCard:-webkit-any-link:hover {
  cursor: pointer;
  transform: scale(1.02);
}