.locked-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
  
  .content, .payment-section {
    flex: 1;
    padding: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #c8976a; 
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #c8976a;
  }
  